---
title: 記事タイトル
members:
  - url: oda
    title: Jamstackエンジニア
  - url: toyotomi
    title: フロントエンド・エンジニア
layout: layout.njk
csspath: ../css/
---

<h1>authors</h1>
<ul>
	{% for author in authors %}
	<li><a href="../authors/{{ author.url }}"> {{ author.url }} </a></li>
	{% endfor %}
</ul>
