---
title: 記事タイトル
members:
  - url: oda
    title: Jamstackエンジニア
  - url: toyotomi
    title: フロントエンド・エンジニア
layout: layout.njk
csspath: ../css/
---

<h1>items</h1>
<ul>
	{% for item in items %}
	<li><a href="../items/{{ item.url }}"> {{ item.url }} </a></li>
	{% endfor %}
</ul>
