---
pagination:
  data: authors
  size: 10
alias: author
permalink: 'authors/{{ author.name | slugify }}/'
---
{{ pagination.items | log }}
<ul>
	<li>{{ pagination.items[0].name }}</li>
	<li>{{ pagination.items[0].title }}</li>
</ul>