---
title: 記事タイトル
layout: layout.njk
csspath: ../css/
---

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Myshop</title>
</head>
<body>
	<header>
		<div class="inner">
			<div class="nav-wrap">
				<div class="logo-area">
<h1 class="logo-txt"><a href="http://localhost:8080/" class="logo">Myshop</a></h1>
<p class="home-txt"><a href="http://localhost:8080/">HOME</a></p>
</div>
<div><img src="./images/cart_icon.png" alt="カートのアイコン" class="cart_icon"></div>
</div>
</div>
	</header>
	<main>
		<div class="inner main-inner">
			<div class="item-desc">
			<h2 class="item-head">商品一覧</h2>
			<p>思い出売り場です。</p>
			</div>
	<ul class="item-wrap">
	{% for product in products %}
	<a href="../products/{{ product.url }}" class="item"><div class="item-box">
	<img src="./images/{{ product.url}}01.png" class="item-img">
	 <p class="item-title">{{ product.name }}</p>
	 <p class="item-price">￥{{ product.price }}</p>
	 <p class="sale-txt">販売中です</p>
	 </div></a>
	{% endfor %}
	</ul>
<div class="more_btn">
	<div class="btn">もっと見る</div>
</div>
	</div>
	</main>
	<footer>
		<div class="footer-inner">
<ul class="sns-wrap">
	<li><img src="./images/insta.png" alt="" class="icon-img"></li>
	<li><img src="./images/twitter.png" alt="" class="icon-img"></li>
	<li><img src="./images/facebook.png" alt="" class="icon-img"></li>
</ul>
		<small>copyright Myshop 2022</small>
		</div>
	</footer>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="./js/script.js"></script>
</body>

</html>
