---
pagination:
  data: items
  size: 10
permalink: 'items/{{ pagination.items[0].url | slugify }}/'
---
{{ pagination.items | log }}
<ul>
	<li>{{ pagination.items[0].url }}</li>
	<li>{{ pagination.items[0].title }}</li>
</ul>